Thunbs.db
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
*.refresh
*.suo
obj/
[Rr]elease*/
_ReSharper*/
.svn
*.cache

_baseconfiglog
_conf
*FileListAbsolute.txt
node_modules
.sass-cache
dist
*.css.map
*.project